@import url('https://fonts.googleapis.com/css?family=Electrolize|Farro&display=swap');

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

h1 {
  font-size: 400%;
  font-family: $title;
}

h2 {
  font-family: $title;
}



p {
  font-family: $standard;
  font-size: 125%;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: $darkgrey;

}

.grid-item1 {
  grid-area: 1 / 2 / 3 / 12;
height: 100%;
}

.grid-item2 {
  grid-area: 3 / 2 / 5 / 12;
height: 100%;
}

.grid-item3 {
  grid-area: 4 / 2 / 11 / 5;
height: 100%;
  padding: 15px;
}

.grid-item4 {
  grid-area: 4 / 5 / 11 / 12;
height: 100%;
}

.grid-item5 {
  grid-area: 11 / 2 / 13 / 12;
height: 100%;
font-size: 75%;
}

.flex-item-standard {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

}

.flex-item2 {
  display: flex;
  min-height: 100px;
  justify-content: space-around;
}

.house {
  max-width: 100%;
  height: auto;
}
